# The url of the Mongo database that is in your Mongo Atlas
MONGO_URL= ""
#Authorization fields for PassportStrategy 
USERNAME_FIELD= ""
PASSWORD_FIELD= "",
# Token time expiration 60s/1h/1d etc
TOKEN_TIME_EXPIRATION=""
# Warning And Secret for JWT 
TOKEN_SECRET_WARNING=""
JWT_SECRET=""
# Email account for outgoing messages
EMAIL= ""
EMAIL_PASSWORD= ""
EMAIL_SERVICE=""